.hero-section{ 
    background: url(../img/home-banner.png) no-repeat 0% 50%;
    padding: 125px 0px;
} 
 
.hero-section .info{
    text-align: left;
    padding-top: 35px
}
.hero-section .info h3{
    padding-top: 35px;
    font-weight: 700
}
.hero-section .info h3::after{
    content: "";
    height: 2px;
    width: 18vw;
    background: #000;
    display: inline-block;
    margin-left: 5%;
    transform: translateY(-10px);
 }
.hero-section .info h1{
    font-size: 3rem;
 }
 .hero-section .info p{
    font-size: 1.5rem;
 }
 .hero-section .info .btn {
    border: 1px solid #5ac9fe;
    color: #5ac9fe
 }
 .hero-section .cont-img img{
    width: 70%;
 }
 @media (max-width: 768px){
    .hero-section{ 
         padding: 25px 0px;
    } 
    .hero-section .cont-img img{
        width: 100%;
    }
    .hero-section .info h1{
        font-size: 2.5rem;
    }
 }