 

.hero-section{
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: inset 0 0 0 1000px rgba(0 ,0, 0, 0.2);
    object-fit: contain;
}
.hero-section .banner{
    width: 100%;
    height: 100%;
    display: table;
    position: relative;
}
.head-info{
    display: table-cell;
    vertical-align: middle;
    min-height: 100%;
    height: 90vh;
}
.hero-section .info{
 }
.hero-section .cont-img {
    height: 600px;
    width: 90%;
 }
.hero-section .cont-img img {
    width: 100%;
    height: 60%;
     z-index: 1;
 }
.hero-section > h1 {
    color: #FFF;
    font-size: 50px;
 }
.hero-section > p{
    margin-top: 8px;
    color: #FFF;
    font-size: 25px;
    font-family: sans-serif;
}
@media screen and (max-width : 960px){
    .hero-section > h1{
        font-size: 25px; 
    }
    .hero-section > p{ 
        font-size: 15px;
     }
}
@media screen and (max-width : 768px){
    
}
@media screen and (max-width : 960px){
    
}