.about-one {
    padding: 40px 0px;
  }
  
  .about-one .about-box-img {
    margin-bottom: 50px;
  }
  
  .about-one .about-box-img .box-img {
    position: relative;
    margin-left: 50px;
  }
  
  .about-one .about-box-img .box-img::before {
    content: "";
    position: absolute;
    width: 90%;
    height: 90%;
    background-color: #f1f1f1;
    bottom: -25px;
    left: -25px;
    z-index: -1;
  }
  
  .about-one .about-box-img .box-img::after {
    content: "";
    position: absolute;
    width: 90%;
    height: 90%;
    background-color: #5ac9fe;
    bottom: -50px;
    left: -50px;
    z-index: -2;
  }
  
  .about-one .about-box-img .box-img img {
    max-width: 100%;
    height: auto;
  }
  
  .about-one .about-box-text .sec-title .sec-title-headline .top-handline-title {
    color: #5ac9fe;
    font-size: 18px;
    font-weight: 700px;
    text-transform: uppercase;
  }
  
  .about-one .about-box-text .sec-title .sec-title-headline .handline-title {
    font-size: 31px;
    font-weight: 600;
    margin: 15px 0px 25px 0px;
    text-transform: uppercase;
  }
  
  .about-one .about-box-text .about-text {
    color: #9b9b9b;
    font-size: 15px;
    font-weight: 400;
    line-height: 25px;
    margin-bottom: 22px;
    position: relative;
    padding-right: 20px;
    text-align: end;

  }
  
  .about-one .about-box-text .about-text::after {
    content: "";
    background-color: #5ac9fe;
    position: absolute;
    width: 2px;
    height: 96%;
    top: 3%;
    right: 0px;
  }
  @media (max-width: 991px){
    .about-one .about-box-img .box-img{
        margin-left: 360px;
    }
 }
 @media (max-width: 768px){
    .about-one .about-box-img .box-img{
        margin-left: 87px;
    }
    .about-one .about-box-img .box-img::after{
        left: -35px; 
    }
    .about-one .about-box-img .box-img::before{
        left: -17px;
    }
    .about-one .about-box-text .sec-title .sec-title-headline .top-handline-title{
        padding-top: 17px;
    }
}
@media (max-width: 560px){
    .about-one .about-box-img .box-img{
        margin-left: 10px;

    }
 }

  /*Branch(portfolio) component*/
  .portfolio {
    padding: 100px 0px;
    background-image: url(./img/pexels-gustavo-fring-4254140.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    width: 100%;
     box-shadow: inset 0 0 0 1000px rgb(0 0 0 / 50%); 
  }
   
  .portfolio .item-box {
    text-align: center;
    color: #fff;
    font-weight: bolder;
  }
  
  .portfolio .item-box .fas,
  .portfolio .item-box .far {
    font-size: 50px;
    margin-bottom: 20px;
  }
  
  .portfolio .item-box .fas:hover,
  .portfolio .item-box .far:hover {
    color: #5ac9fe;
  }
  
  .portfolio .item-box h3 {
    text-align: center;
    font-size: 20px;
    color: #d7d7d7;
  }
  
  .portfolio .item-box span {
    text-align: center;
    font-size: 22px;
  }
  @media (max-width: 768px){
    .portfolio .item-box {
        margin-top: 20px;
    }
  }
  /*subscribe Component*/
  .subscribe{
    padding: 30px 0px;
  }
    /*footer style*/
    footer {
        background-color: #f1f1f1;
        padding: 30px 0px;
        color: #fff;
      }
      .section-left{
        text-align: left;
      }
      
      footer .logo h2 {
        color:#324d67;
        font-size: 25px;
        font-weight: 700;
      }
      
      footer .social-media {
        margin-bottom: 20px;
      }
      
      footer .social-media .social_item {
        margin: 10px 10px 0 0;
        text-decoration: none;
        color: #324d67;
      }
      
      footer .social-media .social_item .social-icon {
        width: 50px;
        padding: 8px 6px;
        border-radius: 50%;
      }
      
      footer .social-media .social_item .social-icon i:hover {
        color: #324d67;
      }
      
      footer .copyright {
        color: #324d67;
        text-align: left;
      }
      
      footer .title h2 {
        font-size: 20px;
        text-transform: uppercase;
        color: #324d67;
        position: relative;
        margin-bottom: 46px;
        font-weight: 900;
        font-family: sans-serif;
      }
      
      footer .title h2::after {
        content: "";
        height: 2px;
        width: 30px;
        background: #324d67;
        position: absolute;
        bottom: -16px;
        left: 0;
      }
      .section-right{
        text-align: left;
      }
      footer p {
        margin: 17px 0;
        color: #324d67;
      }
      
      footer .footer-newsletter-form {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
      }
      
      footer .footer-newsletter-form .txtb {
        -webkit-box-flex: 1;
            -ms-flex: 1;
                flex: 1;
         padding: 14px 21px;
        font-size: 16px;
        color: #293043;
        background: #ddd;
        border: none;
        font-weight: 700;
        outline: none;
        border-radius: 30px;
        min-width: 260px;
      }
      
      footer .footer-newsletter-form .btn-1 {
        padding: 14px 30px;
        font-size: 16px;
        color: #f1f1f1;
        background: #324d67;
        border: none;
        font-weight: 700;
        outline: none;
        border-radius: 30px;
        margin-left: 9px;
        cursor: pointer;
        -webkit-transition: opacity 0.3s linear;
        transition: opacity 0.3s linear;
        margin-top: 10px;
       }
      /*contactUs page*/
      .contact-us {
        padding: 100px 0px;
      }
      
      .contact-us .row {
        margin-bottom: 30px;
      }
      
      .contact-us .message .message-box input,
      .contact-us .message .message-box textarea {
        width: 100%;
        background-color: #f9f9f9;
        padding: 15px;
        font-size: 14px;
        color: #9b9b9b;
        border: 1px solid #f1f1f1;
        margin-bottom: 30px;
      }
      
      .contact-us .message .message-box textarea {
        height: 150px;
        display: block;
      }
      
      .contact-us .message .message-box .btn-style {
        background-color: #608daf;
        font-size: 15px;
        color: #fff;
        text-transform: capitalize;
        padding: 0 40px;
        line-height: 50px;
        border-radius: 0;
        position: relative;
        display: block;
        text-align: center;
        font-weight: 700;
        border: 2px solid #608daf;
        text-decoration: none;
      }
      
      .contact-us .message .message-box .btn-style:hover {
        background-color: #17223e;
        border: 2px solid #17223e;
      }
      /*chapping page*/
      .MuiStepIcon-root.MuiStepIcon-active{
        color: #5ac9fe !important ;
      }
      /*step one*/
      .intl-tel-input.allow-dropdown input,
      .intl-tel-input.allow-dropdown input[type=text],
      .intl-tel-input.allow-dropdown input[type=tel]{
         height: 3.5rem;
         width: 100%;
         border-radius: 5px;
         border: 1px solid rgb(182,181,181);
      }
    
      @media (max-width: 768px){
      .makeStyles-root-1{
        width: 95% !important;
           
      }
    }
    .makeStyles-root-1{
      margin: 3rem auto !important;
    }
    .MuiFormHelperText-root{
      color: rgb(255 0 0 / 54%) !important;

    }
    .MuiFilledInput-root{
          background-color: rgb(251 251 251) !important; 
    }
    .MuiFormLabel-root.Mui-focused{
      color:#5ac9fe !important
    }
    .MuiFilledInput-underline:after{
          border-bottom: 2px solid #5ac9fe !important; 
    }
    .MuiFilledInput-root{
          margin-top: 5px !important; 
    }

@media (max-width: 768px){
        .MuiFilledInput-input {
          padding: 17px 12px 10px !important;
        }
    }